# Version control
.git
.gitignore

# Python artifacts
__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build

# Testing / CI
tests/
.pytest_cache
.mypy_cache
.tox
htmlcov
coverage.xml
.coverage

# Development files
.env
.env.*
!.env.example
.venv
venv

# IDE
.idea
.vscode
*.swp

# Docs
docs/
*.md
!README.md

# Logs
*.log
logs/
